html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #262830;
}

body > .container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

textarea[id^="examples"] {
    margin-bottom: 5px;
}

div[id^="related_words"] {
    margin-bottom: 5px;
}

input[id^="related_words_"] {
    width: 49% !important;
}

.add-related_words {
    margin-bottom: 10px;
}

input[id^="related_links"] {
    margin-bottom: 5px;
}

.add-platform {
    margin-bottom: 30px;
}

.add-platform > button {
    width: 100%;
}

input[id^="tags"] {
    margin-bottom: 5px;
}

span.delete_word_content {
    display: none;
    float: right;
    color: #888888;
    cursor: pointer;
    padding-left: 10px;
}

/* PleaseWait & SpinKit */
.pg-loading-html .loading-message {
    color: #ffffff;
}

.sk-wave .sk-rect {
    background-color: #ffffff !important;
    margin: 0 1px;
}

@media (max-width: 767px) {
    input[id^="related_words_"] {
        margin-bottom: 5px;
    }
}
